/*------------éƒ¨åˆ† ç»„ä»¶éƒ¨åˆ†æ ·å¼å¼€å§‹----------------*/
.p-num-input{
    width:35px;
    height:20px;
    line-height:20px;
    text-align:center;
    display:inline-block;
    *margin-left:6px;
}
.add-num,.reduce-num{
    cursor:pointer;
    display:inline-block;
    width:15px;
    height:15px;
}
.add-num{
    background:url(/Static/images/oldversion/add-num.gif) no-repeat;
}
.reduce-num{
    background:url(/Static/images/oldversion/reduce-num.gif) no-repeat;
}

.p-set-num{
    margin-top:-3px;
}

.my-tooltip{
    width:200px;
    height:200px;
    background:#fff;
    display:none;
    color:#333;
}
.cart-tooltip{
    height:auto;
    width:200px;
    text-align:center;
    border:1px solid #333;
}
.cart-tooltip p{
    padding:10px 0;
}
.cart-tooltip span{
    padding:0 10px;
    cursor:pointer;
}
/*------------ç»„ä»¶éƒ¨åˆ†æ ·å¼ç»“æŸ----------------*/

/*--------------å·¦ä¾§ç»„ä»¶æ¨¡å—å¼€å§‹----------------*/
.sub-cate,.pop-cate{
    margin:10px 0;
    border:3px solid #390;
}
.sub-cate h3,.pop-cate h3{
    height:36px;
    line-height:36px;
    color:#fff;
    font-size:13px;
    background:#390;
    padding-left:10px;
}
.sc-item .sc-i-name{
    height:33px;
    line-height:33px;
    padding-left:10px;
    background:#cce9c0 url(/Static/images/oldversion/sc-i-r.gif) 175px center no-repeat;
}
.sc-item .sc-i-name a{
    color:#333;
    font-size:13px;
    font-weight:bold;
}
.sc-item .sc-i-list{
    padding:10px 10px 0;
}
.sc-item .sc-i-list a{
    display:inline-block;
    margin:0 12px 10px 0;
}


/*--------------å·¦ä¾§ç»„ä»¶æ¨¡å—ç»“æŸ----------------*/

.my-tooltip{
    width:200px;
    height:200px;
    background:#fff;
    display:none;
    color:#333;
}
.cart-tooltip{
    height:auto;
    width:200px;
    text-align:center;
    border:1px solid #333;
}
.cart-tooltip p{
    padding:10px 0;
}


/*------------è´­ç‰©è½¦é¡µé¢è°ƒæ•´å¼€å§‹----------------*/
.wp-c{
    border-top:1px solid #ccc;
    margin:20px 0;
}
.wp-c .wp-c-l,.wp-c .wp-c-a{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    background:#fff;
}
.wp-c .l-s-w .s-w-h{
    border:none;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.l-s-w .s-w-h .w-65{
    text-align:center;
}
.wp-c .wp-c-a{
    padding:10px 10px 5px;
    margin-top:0;
    _padding-bottom:15px;
    border-bottom:1px solid #ccc;
}
.wp-c .wp-c-p{
    text-align:right;
}
.wp-c-a p{
    line-height:20px;
    width:200px;
    text-align:right;
    position:relative;
}
.wp-c-a p .n{
    position:absolute;
    top:0;
    left:0;
}
.wp-c .cart-price{
    font-size:12px;
    font-weight:normal;
    color:#666;
    font-family: verdana,arial;
}
.cart-pay-price{
    color:#990000;
    font-weight:bold;
}
.s-c-i .c-i-p{
    line-height:1;
    text-align:center;
}
.s-c-i .c-p{
    display:block;
    margin:58px 0 5px;
    font-family: verdana,arial;
}
.c-i-p .c-g-p{
    display:inline-block;
    width:45px;
    height:20px;
    line-height:20px;
    text-align:center;
    color:#fff;
    background:#3c0;
}
.s-c-i .c-i-r{
    text-align:center;
    line-height:1;
}

.c-i-w .w-145{
    height:135px;
}
.s-c-i .s-c-h{
    position:relative;
    height:30px;
    line-height:30px;
    background:#dff6f6;
    border-bottom:1px solid #ccc;
}
.s-c-h .c-h-n{
    width:38px;
    height:24px;
    line-height:15px;
    color:#fff;
    margin:0 10px;
    position:relative;
    top:-3px;
    *top:5px;
    text-align:center;
    display:inline-block;
    background:url(/Static/images/oldversion/c-h-n.gif) left top no-repeat;
}
.s-c-h .c-h-d{
    display:inline-block;
}
.s-c-h .n-button{
    padding:5px 24px;
    line-height:1;
    *position:relative;
    *top:3px;
    background:#3c0;
}
.s-c-h .s-c-p{
    position:absolute;
    top:0;
    left:660px;
}
.s-c-h .s-c-p .c-h-p,.s-c-h .s-c-p .c-h-sp span{
    font-family: verdana,arial;
}

.coupon-tooltip{
    height:145px;
    width:310px;
    background:#fff;
    border:1px solid #afafaf;
    display:none;
}

.coupon-list{
    width:260px;
    margin:20px auto 0;
}
.coupon-list .cp-l{
    margin-bottom:15px;
}
.coupon-list select{
    width:190px;
}
.coupon-list .cp-a{
    text-align:center;
    margin-top:20px;
}
.coupon-list .cp-a span,.gift-dialog .o-d-f span{
    display:inline-block;
    padding:4px 12px;
    border:1px solid #ccc;
    border-radius:3px;
    cursor:pointer;
}
.coupon-list .cp-a .tooltip-ok,.gift-dialog .o-d-f .sure{
    background:#3c0;
    color:#fff;
    border:1px solid #3c0;
}
.gift-dialog{
    width:540px;
}
.gift-dialog .o-d-f{
    height: 35px;
    padding-top: 15px;
    text-align:center;
    border-top:1px solid #ccc;
}
.gift-dialog .o-d-c{
    padding:10px;
    height:255px;
    overflow:auto;
}
.o-d-c .s-d-i .w-65{
    width:35px;
}
.o-d-c .s-d-i .w-65 input{
    position:static;
    margin-top:60px;
}


.fav-empty,.order-empty{
    text-align:center;
    padding:20px 0;
}
.order-empty{
    border-top:1px solid #ccc;
}

.add-to-cart .close{
    position:absolute;
    top:10px;
    right:-10px;
    width:15px;
    height:15px;
    background:url(/Static/images/oldversion/tooltip-close.gif) no-repeat;
}
.add-to-cart .cp-t{
    margin:24px 0;
    padding-left:100px;
    font-size:16px;
    color:#333;
}
.add-to-cart .cp-a{
    padding-left:100px;
    font-size:0;
}
.add-to-cart .cp-a a{
    color:#fff;
}

order:1px solid #ccc;
}
.fav-tooltip{
    width:300px;
    height:90px;
}
.fav-tooltip .close{
    right:10px;
    cursor:pointer;
}
.fav-tooltip .cp-t{
    margin:34px 0;
}
/*------------è´­ç‰©è½¦é¡µé¢è°ƒæ•´ç»“æŸ----------------*/


.add-to-cart .cp-a .tooltip-close {
    background: #fff;
    border: 1px solid #ccc;
}

.cart-tooltip span {
    padding: 0 10px;
    cursor: pointer;
}

/*==========åˆ†é¡µ begin===========*/
.pagination { font-size:12px; padding-top:15px; text-align:center; zoom: 1;overflow: hidden;}
.pagination .page-cur, .pagination a, .pagination .page-prev,.pagination .page-next { text-decoration:none; border:1px solid #ccc; margin:0px 5px 0px 0px; min-width:16px;_width:16px;  padding:0px 5px 0px 5px; text-align:center;height:24px;line-height:24px;display:inline-block; vertical-align:top;}
.pagination .page-prev { background:url(/Static/images/oldversion/Products_Images.gif) no-repeat -2px -42px;width:36px;  padding:0px 5px 0px 16px;}
.pagination .page-cur { border:1px solid #fd6d01; background-color:#ffede1; color:#fd6d01; }
.pagination .page-next { width:36px; padding-right:16px; background:url(/Static/images/oldversion/Products_Images.gif) no-repeat -30px -42px; line-height:24px;}
.pagination .page-break { margin-right:5px;}
.pagination a.page-next { background:url(/Static/images/oldversion/Products_Images.gif) no-repeat -28px -13px;}
.pagination a.page-prev { background:url(/Static/images/oldversion/Products_Images.gif) no-repeat -2px -13px;}
.pagination a:hover { border:1px solid #fd6d01;}
.pagination .page-txt { display:none;border:0px; color:#666; line-height:34px; padding-left:5px;}
/*=========end================*/

/*--------------ç”¨æˆ·è¯„è®º--------------------*/
.u-c-l .c-l-i{
    border:1px solid #ccc;
    margin-bottom:10px;
}
.c-l-i .l-i-h{
    height:32px;
    line-height:32px;
    border-bottom:1px dotted #ccc;
}
.c-l-i .l-i-h div{
    padding:0 10px;
}
.c-l-i .cmt-content{
    padding:20px 10px;
}
.c-l-i .l-i-r{
    padding:0 10px 20px;
}
.c-l-i .l-i-r .fl{
    width:760px;
}
.c-l-i .l-i-r .reply-name{
    width:100px;
    float:left;
    margin-right:10px;
    text-align:right;
    color:#390;
}
.c-l-i .l-i-r .reply-content{
    float:right;
    width:650px;
}
.pagination{
    margin:10px 0 0 0;
    line-height:1.2;
}
.pagination ul li{
    float:left;
    margin-top: 5px;
}
.pagination ul li span{
    padding:0 0 0 10px;
}
.pagination ul li a{
    display:inline-block;
    border:1px solid #ccc;
}
.pagination ul li.page-cur{
    border:1px solid #ccc;
}
.pagination ul li.page-cur{
    background:#fff;
    border-color:#e60016;
    color:#e60016;
    margin-top:5px;
}
.pagination ul li a:hover
{
    background:#fff;
    border-color:#e60016;
    color:#e60016;
}



/*------------å¸®åŠ©ä¸­å¿ƒæ ·å¼å¼€å§‹----------------*/
.wp-ctn-l,.wp-ctn-r{
    margin-top:10px;
}
.wp-ctn-l{
    width:138px;
    border:1px solid #ccc;
    border-top:2px solid #e60016;
}
.h-l-h{
    height:32px;
    line-height:32px;
    padding-left:10px;
    color:#666;
    font-weight:bold;
    background:url(/Static/images/oldversion/h-l-h.gif) #fff 150px center no-repeat;
}
.wp-ctn-l .h-l-sm{
    padding:10px 0 0 10px;
}
.wp-ctn-l .h-l-m li{
}
.wp-ctn-l .h-l-sm li{
    border-top:none;
    padding:0 0 10px 25px;
    background:url(/Static/images/oldversion/sm-li.gif) 10px 4px no-repeat;
}
.wp-ctn-l .h-l-m div{
    color:#fff;
    padding:10px 0 10px 20px;
    font-weight:bold;
    background:url(/Static/images/oldversion/lm-div.gif) #e60016 10px center no-repeat;
}
.wp-ctn-r{
    width:915px;
}
.wp-ctn-r .h-r-h{
    height:12px;
    padding:2px 0 10px 10px;
    _padding-bottom:5px;
    background:url(/Static/images/oldversion/h-r-h.gif) left 8px no-repeat;
    color:#333;
    font-weight:bold;
    border-bottom:2px solid #390;
}
.wp-ctn-r .h-r-t,.homeColB-member .h-r-t {
    height:40px;
    line-height:40px;
    background:#e60016;
    color:#fff;
    padding-left:15px;
    margin-bottom:10px;
}
.wp-ctn-r .h-r-c,.wp-ctn-r .h-r-b{
    border:1px solid #ccc;
    border-top:none;
    padding:10px;
}
.wp-ctn-r .h-r-b{
    padding:0;
}
.h-r-h {margin:15px 0 0 15px;}
.h-r-h span a{
    color:#0052a4;
}
.h-r-b .r-c-h{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-left:15px;
    height:50px;
    line-height:50px;
}
.h-r-b .r-c-h span{
    color:#ccc;
}
.h-r-b .r-c-h .c-h-t{
    font-weight:bold;
    color:#666;
}
.h-r-b .r-c-h a.selected{
    color:#390;
}
.h-r-b .r-c-h a span{
    color:#f00;
    font-weight:bold;
    padding:0 3px;
}
.h-r-b .r-c-h .fr{
    position:relative;
    width:290px;
}
.h-r-b .r-c-h .c-h-key{
    height:31px;
    width:229px;
    padding-left:5px;
    position:absolute;
    top:7px;
    left:0;
    border:1px solid #ccc;
    border-right:none;
    *height:19px;
    *padding:7px 0 7px 5px;
}
.h-r-b .r-c-h .c-h-sb{
    cursor: pointer;
    border:0;
    background:url(/img/c-h-sb.gif) #e60016 center center no-repeat;
    position:absolute;
    top:7px;
    right:5px;
    width:50px;
    height:35px;
}
.user-o-h{
    height:36px;
    line-height:36px;
}
.h-r-b .w-65{
    text-align:center;
}
.user-o-h .w-120 select{
    margin-top:7px;
    border:1px solid #ccc;
}
.user-o-l .o-l-i{
    position:relative;
}
.o-l-i .o-i-h{
    height:26px;
    line-height:26px;
    background:#f5f5f5;
    padding: 0 10px;
}
.o-l-i .o-i-c{
    padding-right:10px;
    line-height:64px;
    position:relative;
}
.o-l-i .o-i-h .cn,.o-i-c .o-i-desc .cn{
    font-weight:bold;
}
.o-l-i .o-i-h .on{
    padding-right:70px;
}
.o-i-c .o-i-img{
    float:left;
    height:64px;
    width:64px;
    overflow:hidden;
}
.o-i-c .o-i-img img{
    width:100%;
}
.o-i-c .o-i-desc{
    line-height:20px;
    margin-left:75px;
    text-align:left;
}
.o-i-c .o-i-desc .o-i-n{
    margin-top:20px;
}
.o-i-c .o-i-desc .o-i-n a{
    color:#03c;
}
.o-i-c .o-i-desc .in{
    padding-right:25px;
}
.o-i-c .o-i-p,.o-i-c .o-i-op{
    font-weight:bold;
    font-size:16px;
    color:#f00;
    font-family: verdana,arial;
}
.o-i-c .o-i-op,.o-i-c .o-i-s{
    line-height:20px;
}
.o-i-c .o-i-op span{
    display:block;
    font-weight:normal;
}
.o-i-c .o-i-op span.price{
    color:#f00;
    font-weight:bold;
    margin-top:10px;
}
.o-i-c .o-i-op span.coupon{
    font-size:12px;
    color:#666;
}
.o-i-c .o-i-a span{
    padding:0 7px;
}
.trade-ss,.trade-cc{
    margin-top: 22px;
    display: inline-block;
}
.trade-ss{
    color:#390;
}

.o-i-c .o-i-s span{
    display:block;
}
.o-i-c .o-i-s span.trade-st{
    color:#FFB900;
    margin-top:10px;
}
.o-i-c .o-i-s a.im-pay{
    background:#e60016;
    padding:2px 23px;
}
.o-i-c .o-i-s a{
    display:inline-block;
    padding:2px 7px;
    background:#abba70;
    font-weight:bold;
    color:#fff;
    border-radius:3px;
}
.o-i-c .l-i-p{
    padding:10px 0;
    border-bottom:1px dotted #ccc;
    border-right:1px dotted #ccc;
}
.o-i-c .l-i-p .w-400,.user-o-h .w-400{
    padding-left:10px;
    width:300px;
}
.o-i-c .l-i-p .fr,.user-o-h .fl{
    width:40px;
    text-align:center;
}
.o-i-c .l-i-p .w-65{
    width:40px;
    text-align:center;
}
.o-i-c .lp{
    border-bottom:none;
}
.o-i-c .w-575{
    position:relative;
}
.o-i-c .w-575 .w-328{
    position:absolute;
    top:50%;
    right:-328px;
    height:66px;
}
.o-i-c .w-575 .i-w-328{
    position:absolute;
    top:-50%;
    left:0;
    height:100%;
}
/*------------å¸®åŠ©ä¸­å¿ƒæ ·å¼ç»“æŸ----------------*/
/*--------------ç”¨æˆ·è¯„è®º--------------------*/
.u-c-l .c-l-i{
    border:1px solid #ccc;
    margin-bottom:10px;
}
.c-l-i .l-i-h{
    height:32px;
    line-height:32px;
    border-bottom:1px dotted #ccc;
}
.c-l-i .l-i-h div{
    padding:0 10px;
}
.c-l-i .cmt-content{
    padding:20px 10px;
}
.c-l-i .l-i-r{
    padding:0 10px 20px;
}
.c-l-i .l-i-r .fl{
    width:760px;
}
.c-l-i .l-i-r .reply-name{
    width:100px;
    float:left;
    margin-right:10px;
    text-align:right;
    color:#390;
}
.c-l-i .l-i-r .reply-content{
    float:right;
    width:650px;
}


/*-------------ç”¨æˆ·æ”¶è—--------------*/
.wp-ctn-r .u-f-l{
    margin:10px 0;
    border:1px solid #ccc;
}
.u-f-l .f-l-h{
    height:36px;
    line-height:36px;
    border-bottom:1px solid #ccc;
}
.u-f-l .f-l-b{
    height:46px;
    padding:0 10px 0 0;
    border-top:1px solid #ccc;
}
.u-f-l .w-65{
    width:63px;
}
.f-l-c .f-l-i{
    padding:10px 0;
    border-bottom:1px solid #ccc;
}
.f-l-c .f-l-i .w-65{
    width:43px;
}
.f-l-c .f-l-i .w-400{
    width:420px;
    text-align:left;
}
.f-l-i .w-65{
    margin-top:45px;
}
.f-l-i .w-160,.f-l-i .w-145{
    line-height:108px;
}
.f-l-i .f-i-img{
    border:1px solid #ccc;
    width:108px;
    height:108px;
    overflow:hidden;
    margin-right:18px;
    float:left;
}
.f-l-i .f-i-img img{
    width:100px;
    height:100px;
    margin:4px;
}
.f-l-i .f-i-n{
    height:75px;
}
.f-l-i .f-i-n a{
    color:#36c;
    font-size:14px;
    font-weight:bold;
}
.f-l-i .f-i-d{
    color:#999;
}
.f-l-i .f-i-p{
    color:#f30;
    font-size:14px;
    font-weight:bold;
    font-family: verdana,arial;
}
.state-sale{
    color:#390;
}
.state-stop{
    color:#999;
}
.f-l-i .f-o-b{
    line-height:12px;
    padding-top:10px;
    *padding-top:20px;
}
.f-l-i .f-o-b span,.l-c-i .fr span.o-t-cart{
    cursor:pointer;
    padding:10px;
    margin:10px 40px 10px 20px;
    color:#fff;
    border-radius:3px;
    text-align:center;
}
.f-o-b span.f-o-remove,.f-o-b span.f-o-cart{
    display:inline-block;
    margin-top:10px;
}
.l-c-i .fr{
    padding-top:30px;
}
.l-c-i .fr a{
    display:inline-block;
    margin:0 10px;
}
.f-o-cart,.o-t-cart{
    background:#e60016;
}
.f-o-remove,.o-t-back{
    background:#06c;
}
.u-f-l .f-l-b .w-65{
    line-height:47px;
    margin-right:10px;
    _position:relative;
    _top:10px;
}
.f-l-b .f-a-b{
    display:inline-block;
    margin-top:7px;
    padding:8px 16px;
    cursor:pointer;
    border:1px solid #ccc;
}
/*--------ç”¨æˆ·æ”¶è´§åœ°å€-------*/
.u-a-l .a-l-h{
    height:40px;
    line-height:40px;
    background:#e60016;
    color:#fff;
}
.u-a-l .a-l-i{
    height:70px;
    line-height:70px;
    border-bottom:1px dotted #ccc;
}
.u-a-l .a-l-i .w-lh p{
    line-height:16px;
    margin-top:27px;
}
.u-a-l .w-120 p{
    margin:15px 0;
    line-height:12px;
}
.u-a-l .w-100 span{
    cursor:pointer;
}
/*----------ç”¨æˆ·è´¦æˆ·-----------*/
.birth-form-item,.address-from-item{
    *padding-left:10px;
}
.birth-form-item .form-input,.address-from-item .form-input{
    width:320px !important;
}
.address-from-item .form-input{
    width:440px !important;
}
.address-from-item .form-tip{
    width:200px !important;
    *width:180px !important;
}

.save-button{
    margin:10px 0 0 90px;
    *margin:10px 0 0 100px;
}
/*-------------å®‰åŽ¨é¢å¤–æ ·å¼--------------*/
.site-location{
    margin:10px 0;
}
.site-location span.split{
    padding:0 5px;
}

/***************************************/
.h-r-h .order-num{
    padding-left:20px;
    color:#999;
}
.wp-ctn-f{
    width:1100px;
}
.wp-ctn-f .h-r-h{
    border-bottom:1px solid #ccc;
}
.o-d-state{
    margin:20px 0;
    border:1px solid #ccc;
}
.o-d-state .d-s-h{
    border-bottom:1px solid #ccc;
    height:30px;
    line-height:30px;
    padding:10px;
    font-size:14px;
    color:#666;
    font-weight:bold;
}
.o-d-state .d-s-f{

    line-height:30px;
    padding:10px;
}
.o-d-state .d-s-h .order-num{
    margin-right:20px;
}
.o-d-state .d-s-h .order-state span{
    font-size:14px;
    color:##0052a4;
    font-weight:bold;
}
.o-d-state .d-s-h .order-pay{
    background:#e60016;
    height:30px;
    display:inline-block;
    padding:0 20px;
    color:#fff;
}
.o-d-state .d-s-f .order-action{
    color:#fff;
    background:#390;
    padding:10px 15px;
}

.o-d-info{
    margin:20px 0;
    border:1px solid #ccc;
    border-top:3px solid #e60016;
    border-bottom:3px solid #e60016;
    text-align:left;
}
.o-d-info .d-i-h{
    height:40px;
    line-height:40px;
    text-align:left;
    border-bottom:1px solid #ccc;
    padding-left:30px;
    font-size:14px;
    color:#666;
    font-weight:bold;
    background: url(/Static/images/oldversion/h-r-h.gif) 17px center no-repeat;
}
.o-d-info .d-i-c{
    padding:15px 20px;
}
.o-d-info .w-465,.o-d-info .w-320{

}
.o-d-info .d-i-c p{
    text-align:left;
    line-height:2;
}
.o-d-info .fr{
    width:311px;
}
.o-d-list{
    margin:20px 0;
    border:1px solid #ccc;
    border-top:3px solid #e60016;
}
.o-d-list .d-l-h{
    height:40px;
    line-height:40px;
    font-size:14px;
    color:#666;
    font-weight:bold;
    border-bottom:1px solid #ccc;
    padding-left:25px;
}
.o-d-list .d-l-t{
    height:38px;
    line-height:38px;
    border-bottom:1px solid #ccc;
}
.o-d-list .d-l-t .fr{
    padding-right:60px;
}
.d-l-c .l-c-i{
    border-bottom:1px solid #ccc;
    padding:10px;
}
.d-l-c .l-c-i .i-c{
    border:1px solid #ccc;
    width:75px;
    height:75px;
    overflow:hidden;
    float:left;
    margin-top:5px;
}
.d-l-c .l-c-i .i-d{
    text-align:left;
    margin-left:85px;
}
.d-l-c .l-c-i .i-c img{
    width:100%;
}
.d-l-c .l-c-i .i-d a{
    margin-top:10px;
    display:inline-block;

}
.d-l-c .l-c-i .w-400,.d-l-c .l-c-i .w-120{
    line-height:70px;
}
.d-l-c .l-c-i .o-i-p{
    color:#990000;
    font-weight:bold;
    font-size:13px;
}
.l-c-i .fr span.o-t-cart{
    padding: 8px 10px;
    margin: 0 10px 10px 20px;
}
.l-c-i .fr .o-t-back{
    margin-bottom:0;
}
.o-d-msg{
    margin:20px 0;
}
.o-d-msg .o-msg{
    width:800px;
}
.o-d-msg .o-msg .o-m-h{
    font-weight:bold;
    font-size:13px;
    height:30px;
    line-height:30px;
}
.o-d-msg .o-msg .o-m-c{
    border:1px solid #ccc;
    border-top:3px solid #e60016;
    min-height:80px;
    _height:80px;
    padding:10px;
}
.o-d-msg .o-price{
    width:270px;
    border:5px solid #e60016;
    padding-top:5px;
}
.o-d-msg .o-price p{
    text-align:right;
    font-size:13px;
    padding:4px 10px 4px 0;
}
.o-d-msg .o-price .o-m-f{
    border-top:1px solid #e60016;
}
.o-d-msg .o-price .o-m-p{
    color:#cc0000;
    font-size:30px;
    font-weight:bold;
    font-family:"regular",'Arial Black', Gadget, sans-serif;
}
/****************************/
.wp-step{
    height:40px;
}
.step-cart{
    background:url(/img/step-cart.jpg) no-repeat;
}
.step-order{
    background:url(/img/step-order.jpg) no-repeat;
}
.step-os{
    background:url(/img/step-os.jpg) no-repeat;
}
.step-ps{
    background:url(/img/step-ps.jpg) no-repeat;
}
/*********************************************/
.wp-ctn-r .h-m-t{
    margin:10px 0;
    background:#f0feeb;
    height:35px;
    padding:15px 10px 0;
}
.h-m-t input{
    vertical-align:middle;
    display:inline-block;
    margin-right:10px;
}
.h-m-t .m-t-s{
    position:relative;
    *top:-10px;
}
.u-m-l .m-l-i{
    border-bottom:1px dotted #ccc;
    padding:10px 0 10px 10px;
}
.u-m-l .unread{
    background:url(/img/unread.gif) 40px center no-repeat;
}
.u-m-l .read{
    background:url(/Static/images/oldversion/read.gif) 40px center no-repeat;
}
.u-m-l .m-l-i input{
    vertical-align:middle;
}
.u-m-l .m-l-i span{
    display:inline-block;
    margin:0 10px 0 50px;
}
.u-m-l .unread span{
    color:#090;
}
.u-m-l .read span{
    color:#666;
}
.u-m-l .m-l-i a{
    color:#06f;
}
.mesage-dialog{
    width:400px;
    min-height:260px;
    _height:260px;
}
/*********************************/
.u-c-tab .ec-tab{

    height:50px;
    position:relative;
    z-index:100;
}
.u-c-tab .ec-tab-c{
    border-top:1px solid #ccc;
    position:relative;
    top:-1px;
}
.u-c-tab .ec-tab ul li{
    float:left;
    height:38px;
    line-height:38px;
    margin:10px 0 0 10px;
    border:1px solid #ccc;
}
.u-c-tab .ec-tab ul li.tab-selected{
    border-bottom:1px solid #fff;
    font-weight:bold;
}
.u-c-tab .ec-tab ul li a{
    display:inline-block;
    padding:0 20px;
}
.form-item-inline .form-text {
    float: left;
    height: 28px;
    padding-right:20px;
    line-height:28px;
    margin-left: 10px;
}
.form-item-inline .form-text span{
    color:#009265;
}
.form-item-inline .form-text .u-p{
    color:#f33;
}
.user-base-info .birth-form-item .form-input,.user-base-info .address-from-item .form-input{
    width:420px !important;
}
.form-item-inline .form-list {
    width: 360px;
    float: left;
    margin-left: 10px;
    *padding-left:20px;
    _padding-left:10px;
}
.form-item-inline .form-list .f-l-h{
    height:28px;
    line-height:28px;
    font-weight:bold;
}
.form-item-inline .form-list a{
    display:inline-block;
    border:1px solid #ccc;
    margin:0 10px 10px 0;
    padding:8px 10px;
    text-align:center;
}
.form-item-inline .form-list a.selected{
    border:2px solid #390;
}
.user-avatar{
    position:absolute;
    top:20px;
    right:20px;
    width:164px;
    height:194px;
    text-align:center;
}
.user-avatar img{
    border: 1px solid #ccc;
    width:127px;
    height:127px;
}
.user-avatar a{
    display:inline-block;
    height:30px;
    line-height:30px;
    color:#000;
    text-decoration:underline;
}
.user-bind .form-item-inline label,.user-cpt .form-item-inline label{
    width:100px;
}
.form-item-inline .s-input{
    width:120px;
}
.form-item-inline .s-input input{
    width:100px;
}
.form-item-inline .form-text .vc-btn{
    display:inline-block;
    padding:0 15px;
    background:#e60016;
    color:#fff;
    cursor:pointer;
}
.user-grade{
    padding:20px;
}
.user-grade a,.user-grade .ug,.user-grade .ugn{
    color:#06f;
}
.user-grade .ug{
    display:inline-block;
    height:25px;
    line-height:25px;
    padding:0 5px 0 0;
}
.user-grade .u-p{
    color:#f33;
    padding:0 5px;
    font-family: verdana,arial;
}

.user-grade .user-bf{
    border-top:1px dotted #ccc;
}
.user-gd p{
    height:30px;
    line-height:30px;
}
.user-bf{
    color:#333;
}
.user-bf .bf-h{
    font-weight:bold;
    height:30px;
    line-height:30px;
}
.user-bf p{
    height:25px;
    line-height:25px;
}
.h-u-h{
    height:30px;
    padding:10px 0;
}
.h-u-h .fl{
    line-height:30px;
}
.h-u-h span{
    font-size:16px;
    font-weight:bold;
    display:inline-block;
}
.h-u-h .u-p{
    color:#f33;
    margin-right:2px;
    font-family: verdana,arial;
}
.h-u-h .u-s{
    color:#06f;
}
.u-c-l table{
    width:100%;
    text-align:center;
    border-bottom:1px solid #ccc;
}
.u-c-l table thead{
    height:50px;
    line-height:50px;
    background:#e60016;
    color:#fff;
    font-weight:bold;
}
.u-c-l table tbody{
    color:#000;
}
.u-c-l table tbody td{
    padding:10px 0;
    vertical-align: middle;
}
.u-c-l table tbody td .spanone{
    color:#009265;
}
.u-c-l table tbody td .spantwo{
    color:#f33;
}
.u-c-l table td.u-a,.u-c-l table td.u-a a{
    color:#f33;
}
.u-p-w{
    width:820px;
    margin:20px auto;
}
.u-p-w .u-p-m{
    height:210px;
}
.u-p-w .u-p-m .p-m-h{
    font-size:14px;
    font-weight:bold;
}
.u-p-w .u-p-m .sp{
    width:1px;
    height:140px;
    background: #ccc;
    margin:0 10px;
}
.u-p-w .online{
    width:375px;
}
.u-p-w .card{
    width:340px;
}
.u-p-t{
    border:2px solid #f93;
    background:#fff8f0;
    padding:10px;
}
.u-p-t .p-t-h{
    font-weight:bold;
    padding-bottom:10px;
}
.u-p-t p{
    line-height:2;
}
.card .form-item-inline .form-tip{
    border:none;
    text-indent:100px;
    *text-indent:80px;
}
.online .form-item-inline .form-tip{
    border:none;
    text-indent:80px;
    *text-indent:60px;
}
.card .form-item-inline  label{
    width:100px;
}
.card .form-item-inline .form-input{
    width:220px;
    *margin-left:0;
}
.card .form-item-inline .form-input input{
    width:220px;
}
.online .form-item-inline .form-input{
    *margin-left:0;
}
.online .form-item-submit{
    padding-left:80px;
    *padding-left:70px;
}
.ad-dialog{
    width:720px;
}
.pay-dialog{
    width:380px;
}
.pay-dialog .o-d-a{
    padding:0 30px;
}
.pay-dialog .o-d-a a{
    display:inline-block;
    padding:8px 20px;
    margin:30px 0;
    color:#fff;
    background:#999;
    border-radius:3px;
}
.pay-dialog .o-d-c{
    line-height:1.5;
}
.paying-dialog{
    width:600px;
}
.paying-dialog .o-d-c p{
    padding-left:140px;
    font-size:14px;
    margin-bottom:5px;
}
.paying-dialog .paying-state{
    text-align:center;
    margin:10px 0;
}
.paying-dialog .paying-state a{
    display:inline-block;
    padding:5px 15px;
    border-radius:3px;
    border:1px solid #390;
    background:#390;
    color:#fff;
    margin-right:5px;
}
.paying-dialog .paying-state a.pay-fl{
    border:1px solid #ccc;
    background:#fafafa;
    color:#666;
}
.u-b-l{
    margin-top:10px;
}
.u-d-h .fl{
    line-height:1;
}
.u-d-h .fr{
    line-height:30px;
}
.u-d-h .fr a{
    color:#06f;
}
.u-l-e{
    margin:15px 0;

    font-size:13px;
}
.u-l-e .l-e-i{
    border-bottom:1px solid #ccc;
    height:90px;
    line-height:90px;
    padding:0 30px 0 100px;
}
.u-l-e .l-e-i .e-i-n{
    font-size:18px;
    font-weight:bold;
    height:40px;
    line-height:40px;
    margin:25px 20px 0 0;
    padding-right:20px;
    border-right:1px solid #ccc;
}
.u-l-e .l-e-i .e-i-d span{
    color:#333;
    font-weight:bold;
}
.u-l-e .l-e-i a{
    color:#FFB900;
}
.u-l-e .ok{
    background:url(/Static/images/oldversion/ok.jpg) 10px center no-repeat;
}
.u-l-e .warn{
    background:url(/Static/images/oldversion/warn.jpg) 10px center no-repeat;
}
.u-l-t div{
    font-size:16px;
    color:#000;
    margin-bottom:5px;
}
.u-l-t p{
    line-height:2;
}
.form-item-inline .form-tip a{
    color:#06f;
}
.user-cpt .form-area{
    width:420px;
}
.user-cpt .form-input textarea{
    width:420px;
    height:240px;
}
.order-c-l .o-c-h{
    background:#f0feeb;
    font-size:13px;
    height:50px;
    line-height:50px;
    margin:10px 0;
    text-align:left;
    font-weight:bold;
}
.order-c-l .o-c-h .w-400,.order-c-l .o-c-i .w-400{
    width:560px;
    text-align:left;
    padding-left:20px;
}
.order-c-l .o-c-i .w-400{
    padding:0 20px 0 0;
}
.order-c-l .o-c-i{
    height:120px;
    border-bottom:1px dotted #ccc;
}
.o-c-i .o-i-img{
    width:100px;
    height:100px;
    overflow:hidden;
    float:left;
    margin:10px;
}
.o-c-i .o-i-img img{
    width:100%;
}
.order-c-l .o-c-i .w-195,.order-c-l .o-c-i .w-120{
    line-height:120px;
}
.o-c-i .o-i-desc{
    margin-top:30px;
    color:#000;
}
.o-c-i .o-i-desc a{
    color:#000;
    font-size:13px;
    display:inline-block;
    margin-bottom:5px;
}
.order-c-l .o-c-i .view{
    line-height:1;
}
.o-c-i .w-120 span{
    margin:50px 0 5px;
    display:block;
}
.o-c-i .w-120 a{
    color:#06f;
}
.add-cmt-dialog{
    width:515px;
    height:325px;
}
.add-cmt-dialog .form-panel{
    margin-top:0;
}
.add-cmt-dialog .form-panel label{
    width:40px;
}
.add-cmt-dialog .form-area textarea{
    width:400px;
    height:130px;
}
.add-cmt-dialog .form-area{
    *margin-left:5px;
}
.add-cmt-dialog .form-item-inline .form-text{
    width:140px;
}
.add-cmt-dialog .form-item-inline .form-tip{
    margin-left:40px;
    _margin-left:20px;
    border:none;
}
.cmt-lf{
    border:none;
    width:200px;
}
.wp-cmt-rt{
    width:883px;
}
.cmt-lf .c-l-h{
    height:40px;
    line-height:40px;
    padding-left:15px;
    color:#fff;
    background:#390;
}
.cmt-lf .c-l-f{
    border:1px solid #ccc;
}
.cmt-lf .i-c{
    width:170px;
    height:170px;
    margin:10px auto;
    overflow:hidden;
}
.cmt-lf p{
    margin:10px 15px;
}
.cmt-lf p span{
    font-weight:bold;
}
.i-c img{
    width:100%;
}
.cmt-lf .cmt-to-buy{
    text-align:center;
    margin:10px 0;
}
.cmt-lf .cmt-to-buy a{
    display:inline-block;
    border-radius:5px;
    padding:8px 15px;
    color:#fff;
    background:#390;
}
.wp-cmt-rt .h-r-h{
    color:#666;
}
.cmt-list .c-l-i{
    margin:10px 0;
}
.cmt-list .cmt-i-l{
    width:105px;
    float:left;
}
.cmt-list .cmt-i-r{
    width:655px;
    float:right;
    position:relative;
    border:1px solid #ccc;
    padding:0 10px;
}
.grp-cmt-list .cmt-i-r{
    width:675px;
}
.cmt-list .i-c{
    width:80px;
    height:80px;
    margin-left:15px;
    overflow:hidden;
}
.cmt-list .cmt-i-l p{
    text-align:center;
    padding:5px 0 0;
}
.cmt-list .cmt-i-l span{
    font-weight:bold;
    color:#06f;
}
.rate-list{
    height:45px;
    line-height:45px;
    position:relative;
    border-bottom:1px solid #ccc;
}
.cmt-list .cmt-cnt{
    padding:10px 10px 0;
    line-height:1.8;
}
.cmt-list .c-c-n{
    float:left;
}
.cmt-list .c-c-l p{
    padding:3px 0;
}
.cmt-list .c-c-l span{
    display:inline-block;
    width:190px;
}
.cmt-list .cmt-action{
    text-align:right;
    padding:0 10px 10px;
}
.cmt-list .cmt-form{
    background:#cfc;
    padding:0 10px;
    _height:170px;
}
.cmt-list .cmt-form .c-f-h{
    height:40px;
    line-height:40px;
}
.cmt-list .cmt-form .c-f-h span{
    color:#06f;
    font-weight:bold;
}
.cmt-list .cmt-form .c-f-a{
    padding:8px 0;
}
.cmt-list .c-f-a input{
    margin-left:0;
}
.cmt-list .c-f-a span{
    padding:0 3px;
}
.cmt-list .cmt-form textarea{
    width:680px;
    height:80px;
}
.cmt-list .cmt-form .fr{
    line-height:35px;
}
.cmt-list .r-l-i{
    position:relative;
    padding:10px 0;
    line-height:1.8;
    border-bottom:1px dotted #ccc;
    color:#333;
}
.cmt-list .r-l-i .r-l-n{
    width:80px;
    height:25px;
    float:left;
    font-weight:bold;
}
.cmt-list .r-l-i .r-l-ns{
    width:125px;
}
.cmt-list .r-l-i .r-l-d{
    width:570px;
    margin-left:80px;
}
.cmt-list .r-l-i .r-l-ds{
    width:525px;
    margin-left:125px;
}
.cmt-list .r-l-i a{
    position:absolute;
    top:10px;
    right:10px;
    color:#06f;
}
.cmt-list .r-l-i .num{
    font-size:13px;
    color:#999;
}
.cmt-list .cmt-aw{
    position:absolute;
    left:-14px;
    top:10px;
    width:14px;
    height:25px;
    background:url(/Static/images/oldversion/cmt-aw.gif) no-repeat;
}
.rate-list .rate-on,.rate-list .rate-off{
    height:45px;
    width:110px;
    position:absolute;
    top:0;
    left:0;
}
.rate-list .rate-off{
    background:url(/Static/images/oldversion/off.gif) left center repeat-x;
}
.rate-list .rate-on{
    background:url(/Static/images/oldversion/on.gif) left center repeat-x;
}
.rate-list .r-1{
    width:22px;
}
.rate-list .r-2{
    width:44px;
}
.rate-list .r-3{
    width:66px;
}
.rate-list .r-4{
    width:88px;
}
.rate-list .r-5{
    width:110px;
}
.cmt-list .c-f-a .error-tip{
    display:inline-block;
    line-height:30px;
    padding-left:10px;
    color:#f00;
}
.cmt-list .view-all{
    display:inline-block;
    margin-right:250px;
}
.cmt-list .cmt-reply{
    padding-bottom:10px;
}
.cmt-form{
    display:none;
}
.wp-rt{
    border:1px solid #ccc;
    margin-top:10px;
}
.wp-rt .wp-rt-fl{
    width:687px;
    float:left;
    border-right:1px solid #ccc;
    overflow:hidden;
}
.wp-rt .wp-rt-rt{
    width:225px;
    float:left;
}
.wp-rt-rt .rt-h{
    height:40px;
    line-height:40px;
    font-size:14px;
    font-weight:bold;
    padding-left:15px;
}
.wp-rt-rt  .i-c{
    width:70px;
    height:70px;
    margin:0 10px 10px 15px;
    overflow:hidden;
    float:left;
}
.wp-rt-rt  .i-t{
    margin:0 10px 0 85px;
    line-height:1.5;
}
.wp-rt-rt p{
    padding:0 0 5px 15px;
}
.wp-rt-rt .rt-user{
    border-top:1px solid #ccc;
    padding:25px 0 40px 15px;
}
.wp-rt-fl .medium-input,.wp-rt-fl .medium-input input{
    width:120px;
    *margin-left:0;
}
.wp-rt-fl .medium-area,.wp-rt-fl .medium-area textarea{
    width:280px;
    height:80px;
    *margin-left:0;
}
.wp-rt-fl .upload-input{
    height:140px;
    width:560px;
}
.upload-input .up-h{
    height:28px;
    line-height:28px;
}
.upload-input .up-l .i-c{
    height:90px;
    width:90px;
    margin:10px 10px 0 0;
    overflow:hidden;
    float:left;
}
.u-c-s table td{
    border:1px solid #ccc;
}
.u-c-s .u-c-h{
    height:50px;
    line-height:50px;
    background:#f0feeb;
    padding-left:15px;
}
.u-c-s table .v{
    text-align:left;
    vertical-align:top;
    padding:10px;
}
.u-c-s table .n{
    font-weight:bold;
}
.u-c-s .u-c-f{
    text-align:right;
    padding:10px 0;
}
.user-index-info{
    border:1px solid #ccc;
    height:180px;
    color:#333;
    margin-bottom:15px;
}
.user-index-info .fl{

}
.user-index-info .u-a{
    width:125px;
    height:125px;
    margin:25px;
    _margin-left:12px;
}
.user-index-info .u-a img{
    width:100%;
    height:100%;
}
.user-index-info .u-i{
    margin:25px 0;
}
.user-index-info .fr .i-t{
    float:left;
    width:130px;
    border-right:1px solid #ccc;
    margin-top:25px;
    height:125px;
    text-align:center;
    font-size:13px;
}
.user-index-info .i-t p{
    margin-top: 75px;
    font-size: 16px;
    font-family:arial;
}
.user-index-info .u-n{
    font-size:16px;
    font-weight:bold;
    padding:10px 0;
}
.user-index-info .user-grade{
    padding:0 0 40px;
}
.user-index-info .u-s{
    font-size:0;
}
.user-index-info .u-s span{
    display:inline-block;
    font-size:12px;
}
.user-index-info .u-s span.o{
    width:160px;
    height:5px;
    background:#ccc;
    position:relative;
    font-size:0;
    margin:0 10px 0 0;
}
.user-index-info .u-s span.i{
    font-size:0;
    position:absolute;
    top:0;
    left:0;
    height:5px;
}
.u-s .o .o-i-1{
    background:#f60;
    width:40px;
}
.u-s .o .o-i-2{
    background:#fc0;
    width:80px;
}
.u-s .o .o-i-3{
    background:#cf0;
    width:120px;
}
.u-s .o .o-i-4{
    background:#0f3;
    width:160px;
}
.user-latest-order .r-c-h .fr{
    text-align:right;
    padding-right:30px;
}
.user-latest-order .r-c-h .fr a,.user-latest-order .r-c-h .c-h-t{
    color:#333;
}
.user-latest-order .o-i-t{
    line-height:1;
}
.user-latest-order .o-i-t span{
    display:inline-block;
    margin-top:20px;
}
.user-latest-order .o-i-img{
    margin-right:10px;
}
.user-latest-fav{
    margin-top:15px;
    border:1px solid #ccc;
    height:205px;
    position:relative;
}
.user-latest-fav .u-f-h,.user-latest-order .h-r-b .r-c-h{
    height:32px;
    color:#333;
    line-height:32px;
    background:url(/Static/images/oldversion/i-h-bg.gif) repeat-x;
    border-bottom:none;
}
.user-latest-fav .u-f-h a{
    color:#333;
}
.user-latest-fav .u-f-h .fl{
    font-weight:bold;
    padding-left:15px;
}
.user-latest-fav .u-f-h .fr{
    padding-right:30px;
}
.fav-list ul li{
    width:140px;
    float:left;
}
.fav-list ul{
    width:10000px;
    height:140px;
    position: absolute;
    top:0;
    left:0;
}
.fav-list .f-l-c{
    height:105px;
    width:105px;
    padding:3px;
    border:1px solid #ccc;
}
.fav-list .f-l-c img{
    width:100%;
    height:100%;
}
.fav-list .f-l-p{
    font-family:arial;
    width:113px;
    text-align:center;
    height:25px;
    line-height:25px;
}
.fav-list .carousel-prev,.fav-list .carousel-next {
    width: 20px;
    height: 100px;
    cursor:pointer;
}
.fav-list .carousel-prev{
    background: url(/Static/images/oldversion/ec-b-carousel-prev.jpg);
    margin: 30px 0 0 20px;
    _margin-left:10px;
}
.fav-list .carousel-next{
    background: url(/Static/images/oldversion/ec-b-carousel-next.jpg);
    margin: 30px 0 0 10px;
}
.fav-list .carousel-prev-disabled,.fav-list .carousel-next-disabled{
    cursor:default;
}
.fav-list .carousel-body{
    margin:20px 0 0 10px;
    width:814px;
    height:140px;
    overflow:hidden;
    position:relative;
}

.pop-order-form .form-panel .form-item-inline{
    width:300px;
    _width:320px;
    float:left;
}
.pop-order-form .form-panel .form-input,.pop-order-form .form-panel .form-input input{
    width:200px;
}
.pop-order-form .form-panel .search-time-item{
    width:550px;
    float:left;
}
.pop-order-form .form-panel .search-time-item .form-input{
    width:450px;
}
.pop-order-form .form-panel .form-item-submit{
    float:none;
}
.pop-order-form .pop-search-panel{
    height:80px;
}
.pop-order-form .pop-search-panel select.form-select{
    *margin-left:10px;
    width:208px;
}
.pop-content-tab{
    border-top:1px solid #ccc;
}
.pop-content-tab .ec-tab ul li a{
    padding:0 15px;
}
.pop-content-tab .ec-tab-c{
    border:1px solid #ccc;
}
.pop-content-tab .user-o-h .w-100{
    margin-right:60px;
}
.pop-content-tab .pagination{
    overflow:hidden;
    margin:0;
    padding: 10px 10px 10px;
    border-top:1px solid #ccc;
}

.pop-content-tab .u-f-l{
    border-left:none;
    border-right:none;
    margin-bottom:0;
}
.pop-content-tab .f-l-b .pagination {
    border-top:none;
}
.pop-content-tab .f-l-h {
    border-top:1px solid #ccc;
}
.pop-content-tab .f-l-i .f-i-n{
    text-align:left;
}
.pop-content-tab .f-l-h .w-65 {
    width: 43px;
}
.pop-content-tab .f-l-i .w-100 span{
    display:inline-block;
    margin-top:50px;
}
.pop-pro-cate .p-p-h {
    margin:20px 0;
}
.pop-pro-cate .p-c-h{
    border:1px solid #ccc;
    height:30px;
    line-height:30px;
}
.pop-pro-cate .p-c-l .p-p-n{
    height:30px;
    line-height:30px;
    margin:10px 0;
}
.pop-pro-cate .p-c-l a.add-cate {
    color:#390;
}
.pop-pro-cate input.p-order {
    text-align:center;
}
.pop-pro-cate input.p-order,.pop-pro-cate input.p-name{
    width:60px;
    height:28px;
    line-height:28px;
    border:1px solid #ccc;
    position:relative;
    top:0;
    left:0;
}
.pop-pro-cate input.p-name {
    width:250px;
    padding-left:5px;
}
.pop-pro-cate .p-sub {
    background:url(/Static/images/oldversion/p-sub.gif) no-repeat 40px center;
}
.pop-pro-cate .w-270 {
    text-align:left;
    margin-left:10px;
}
.pop-pro-cate .toggle {
    background:url(/Static/images/oldversion/tc.gif) no-repeat right center;
    padding-right:12px;
}
.pop-pro-cate a.open {
    background:url(/Static/images/oldversion/to.gif) no-repeat right center;
}
.form-panel .pop-ck-item .form-input input {
    width:20px;
    margin-right:3px;
    vertical-align: middle;
}
.pop-publish .pop-ck-item .form-input span {
    display:inline-block;
    height:28px;
    line-height:28px;
}
.pop-publish .form-input-panel {
    width:700px;
    padding-top:10px;
    border:1px solid #ccc;
    float:left;
    background:#eee;
    margin-bottom:10px;
}
.pop-publish .form-input-wrapper {
    width:700px;
    float:left;
    margin-bottom:10px;
}
.pop-publish .cate-list input {
    vertical-align:middle;
    margin-right:3px;
}
.form-sub-wrapper{
    margin-top:20px;
}
.sub-wrapper-head{
    margin-bottom:10px;
}
.form-sub-wrapper .ck-item{
    width:25%;
    float:left;
    margin-bottom:10px;
    background:#fff;
}
.ck-item input{
    vertical-align:middle;
    margin-right:5px;
}
.form-select-wrapper{
    margin:10px 0;
}
.form-select-wrapper table{
    margin-bottom:10px;
}
.form-select-wrapper table,.form-select-wrapper table th,.form-select-wrapper table td{
    border:1px solid #ccc;
}
.form-select-wrapper table th,.form-select-wrapper table td{
    width:90px;
    height:30px;
    text-align:center;
}
.form-select-wrapper table th{
    background:#ededed;
    font-weight:normal;
}
.form-select-wrapper table th span{
    color:#f00;
    padding-left:5px;
}
.form-select-wrapper table td input{
    width:80px;
    text-align:center;
}
.pop-publish .cate-list{
    height:195px;
    overflow:hidden;
    overflow-y:auto;
}
.pop-publish .cate-list .c-l-i {
    line-height:25px;
    padding-left:10px;
}
.pop-publish .cate-list .c-l-i .c-i-s{
    margin-left:20px;
}
.begin-pop-publish{
    width:450px;
    margin:40px 0 0 200px;
}
.begin-pop-publish .p-p-h{
    text-align:center;
    font-size:16px;
    color:#333;
}
.begin-pop-publish .form-select{
    width:200px;
    margin-right: 15px;
}
.begin-pop-publish .form-item{
    text-align:center;
    margin:20px 0;
}
.begin-pop-publish .form-item input[type='checkbox']{
    margin-right:5px;
    vertical-align:middle;
}
.begin-pop-publish .form-item a{
    color:#390;
    padding:0 3px;
}
.begin-pop-publish .form-tip{
    color:#f00;
    height:25px;
    line-height:25px;
}
.address-list .d-l-h{
    height:25px;
    line-height:20px;
    margin:15px 0 30px;
}
.address-list .d-l-h a{
    margin-right:20px;
}
.address-list .d-l-h span{
    color:#f00;
    padding:0 3px;
    font-weight:bold;
}
.address-list .d-l-i{
    border:1px solid #ccc;
    margin-top:20px;
}
.d-l-i .l-i-h{
    border-bottom:1px dotted #ccc;
    height:40px;
    line-height:40px;
    font-weight:bold;
}
.d-l-i .l-i-h span{
    color:#333;
    padding-left:20px;
}
.d-l-i .l-i-h a{
    color:#06f;
    display:inline-block;
    margin-right:20px;
}
.d-l-i .l-i-b label{
    display:inline-block;
    width:80px;
    text-align:right;
}
.d-l-i .l-i-b p{
    height:25px;
    line-height:25px;
}
.add-address-form{
    margin-top: 20px;
    margin-left: 20px;
}
.u-s-h{
    margin:15px 0;
    font-size:14px;
}
.u-s-h span,.u-s-t ul li a{
    color:#390;
    font-weight:bold;
    padding:0 3px;
}
.u-s-t ul li a{font-weight:normal;}
.u-s-p{
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:20px;
}
.u-s-p .s-p-h{
    font-weight:bold;
}
.u-s-p .s-p-h,.u-s-p .s-p-f{
    height:30px;
    line-height:30px;
}
.u-s-p .s-p-f label{
    display:block;
    float:left;
    width:100px;
    text-align:right;
}
.u-s-p .s-p-f input{
    height:25px;
    line-height:25px;
    padding-left:5px;
    width:450px;
}
.u-s-p .s-p-f span{
    line-height: 1;
}
.u-s-t{
    font-size:13px;
}
.u-s-t .s-t-h{
    font-weight:bold;
    margin-bottom:5px;
}
.u-s-t .s-t-d{
    margin-bottom:10px;
}
.u-s-t ul{
    margin-left:40px;
}
.u-s-t ul li{
    line-height:1.5;
}
.tmpl-container{
    display:none;
}

.upload-item{
    position:relative;
    display:inline-block;
    overflow:hidden;
    height:28px;
    width:100px;
    background:#f1f1f1;
    background: -moz-linear-gradient(top, #fcfcfc, #eeeeee 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#eeeeee));
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType:1, startColorstr=#50fcfcfc,endColorstr=#50eeeeee);
    border:1px solid #ccc;
    border-radius:3px;

}
a.upload-item:hover{
    background:#f1f1f1;
    background: -moz-linear-gradient(top, #eeeeee, #ffffff 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#ffffff));
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType:1, startColorstr=#50eeeeee,endColorstr=#50ffffff);
}
.form-item-inline .form-text .upload-text{
    display:inline-block;
    height:28px;
    width:100px;
    text-align:center;
    color:#000;
}
.upload-input{
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:50px;
    font-size:30px;
    opacity:0;
    filter:alpha(opacity=0);
    direction:rtl;
}
.long-name-item label{
    width:160px;
}
.long-name-item .form-tip{
    width:200px;
}

.lf-box .amuhot {
    width: 100%;
    color: #e60016;
    border-bottom: 1px solid #e60016;
    font: 18px å¾®è½¯é›…é»‘;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}